#user-info {
  margin-top: 1px;
  border-radius: 0;
  /*color: #351431;*/
}

#user-name {
  color: #351431;
  padding-right: auto;
}

#username {
  float: right;
}

.contact-icon {
  vertical-align: middle;
  font-size: 20px;
  cursor: default;
}

.contact-text {
  vertical-align: middle;
  cursor: text;
  font-size: 15px
}
