<div id="user-info" class='list-group-item list-group-item-action'>

  <div>
    <p id="username">{{"@" + user.username}}</p>
    <h5 id="user-name">{{user.name}}</h5>
  </div>

  <div>
    <div>
      <i class="material-icons md-dark contact-icon">contact_phone</i>
      <span class="contact-text">{{user.phone}}</span>
    </div>
    <div>
      <i class="material-icons md-dark contact-icon">business</i>
      <span class="contact-text">{{user.company.name}}</span>
    </div>
  </div>

</div>
