#user-block {
  margin: auto;
  overflow: hidden;
  width: 50%;
}

#user-list {
  height: 100vh;
  align-self: center;
  overflow-y: scroll !important;
}

/* width */
#user-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#user-list::-webkit-scrollbar-track {
  background-color:rgba(15, 52, 67, 0.3);
}

/* Handle */
#user-list::-webkit-scrollbar-thumb {
  background-color:rgba(15, 52, 67, 0.5);
}

/* Handle on hover */
#user-list::-webkit-scrollbar-thumb:hover {
  background-color:rgba(15, 52, 67, 0.8);
}
/* Handle on hover */
#user-list::-webkit-scrollbar-thumb:hover {
  background-color:rgba(15, 52, 67, 0.8);
}

/*If less than 992*/
@media screen and (max-width: 991px) {
  #user-block {
    width: 60%;
  }
}

/*If less than 768*/
@media screen and (max-width: 767px) {
  #user-block {
    width: 80%;
  }
}
