<div id="user-block">
  <div id="user-list" class="list-group">
    <app-user *ngFor="let item of users"
              [user]="item"
              (click)="selectUser(item); open()"
              style="cursor: pointer">
    </app-user>
  </div>
</div>




