#address-btn {
  color: inherit;
  outline: 0;
  border: none;
  text-decoration: none;
  padding-left: 0;
}

#user-address {
  font-size: 14px;
}

.contact-text {
  vertical-align: middle;
  cursor: text;
  font-size: 15px
}
