<div class="modal-header">
  <div>
    <h4 class="modal-title">{{user.name}}</h4>
    <span class="card-text">{{'@' + user.username}}</span>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModalRef.dismiss(); deselectUser()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div style="margin-bottom: 20px; font-size: 14px;">
    <h6>Contacts</h6>
    <hr>
    <div>
      <span><b>Phone: </b></span>
      <span class="contact-text">{{user.phone}}</span>
    </div>
    <div>
      <span><b>Email: </b></span>
      <span class="contact-text">{{user.email}}</span>
    </div>
    <div>
      <span><b>Site: </b></span>
      <a style="color: inherit; cursor: pointer"
         target="_blank"
         [href]="user.website">{{user.website}}</a>
    </div>
  </div>

  <div class="card" style="margin-bottom: 20px">
    <div class="card-header" style="padding-left: 0px">
      <div style="padding-left: 10px;">
        <i *ngIf="this.addressState" class="material-icons" style="vertical-align: middle;">arrow_drop_down</i>
        <i *ngIf="!this.addressState" class="material-icons" style="transform: rotate(-90deg); vertical-align: middle;">arrow_drop_down</i>
        <a data-toggle="collapse" href="#user-address"
           role="button" aria-expanded="false" aria-controls="collapseExample"
           (click)="toggleAddressState()"
           id="address-btn">
          Address
        </a>
      </div>
    </div>

    <div class="collapse card-body" id="user-address">

      <div style="display: inline-block">
        <b>City</b>:    {{user.address.city}};    <br>
        <b>Street</b>:  {{user.address.street}};  <br>
        <b>Suit</b>:    {{user.address.suite}};   <br>
        <b>Zipcode</b>: {{user.address.zipcode}}.
      </div>

      <div style="float: right;">
        <div class="card" style="width: 13rem;">
          <a target="_blank" [href]="'http://www.google.com/maps/place/' + user.address.geo.lat + ',' + user.address.geo.lng">
            <img class="card-img-top" src="../../../assets/static/img/gmap-view.png" alt="Card image cap">
          </a>
          <div class="card-body">
            <p class="card-text">
              lat: {{user.address.geo.lat}}; <br>
              lng: {{user.address.geo.lng}}.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-bottom: 20px; font-size: 14px;">
    <h6>Company</h6>
    <hr>
    <div>
      <span><b>Name: </b></span>
      <span class="contact-text">{{user.company.name}}</span>
    </div>
    <div>
      <span><b>Description: </b></span>
      <span class="contact-text">{{user.company.bs}}</span>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" 
          (click)="activeModalRef.close(); deselectUser()">
    Close
  </button>
</div>
